.venv/
mvfouls/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

tests/
.venv/

*.pt
*.pth
*.pkl
*.ptl
*.pthl
*.pkl
*.ptl
*.pthl
*.pkl
outputs

outputs/
checkpoints/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*

configs/